jupyter
opencv-python
ray
tqdm
torch
numpy
pandas
nibabel
matplotlib
Pillow
ray[tune]
ray[default]
pytorch-lightning
ray-lightning
scikit-learn

monai==0.8.1
tifffile
netCDF4
pytorch-ignite
xarray
h5netcdf